<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>IPP Digital</title>
        <link rel="stylesheet" href="../assets/css/styles.css">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    </head>
    <body class="background">
        <div class="header">
            <img id="logo" src="../assets/img/logo/IPPD.png">
            <span id="title"><h1 id="title-text">IPP <span style="color:#01D3FF;">Digital</span></h1></span>
        </div>
        <nav class="nav-row">
            <ul class="nav-list">
                <li class="nav-tab"><a class="nav-tab-2" href="lista_categorias.php">Categorías</a></li>
                <li class="nav-tab"><a class="nav-tab-2" href="lista_productos.php">Productos</a></li>
            </ul>
        </nav>

        <div class="content-container">
            <div class="error-container">
                <div class="container-header">
                    <div>Error</div>
                </div>
                <div class="container-body">
                    <p>Esta categoría tiene productos asociados y no puede actualmente ser eliminada.</p>
                    <center><a class="boton-volver-ingresar" href="lista_categorias.php">Volver</a></center>
                </div>
            </div>
        </div>
    </body>
</html>