<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>IPP Digital</title>
        <link rel="stylesheet" type="text/css" href="assets/css/styles.css">
    </head>
    <body class="background">
        <div class="header">
            <img id="logo" src="assets/img/logo/IPPD.png">
            <span id="title"><h1 id="title-text">IPP <span style="color:#01D3FF;">Digital</span></h1></span>
        </div>
        <nav class="nav-row">
            <ul class="nav-list">
                <li class="nav-tab"><a class="nav-tab-2" href="views/lista_categorias.php">Categorías</a></li>
                <li class="nav-tab"><a class="nav-tab-2" href="views/lista_productos.php">Productos</a></li>
            </ul>
        </nav>

        <div id="home-container" class="content-container">
        </div>
    </body>
</html>





